<div id="korobka">
  <form lol>
    <input type="login" placeholder="Email or phone number" class="yyyyy">

  </form>
  <form >
    <input type="password" placeholder="Password" class="xxxxx">

  </form>
  <form>
    <button id="but1" type="entry" onclick="reddit.com"><a href="sign-up">Entry</a></button>
  </form>
  <form>
    <a href="kbtu.kz" id="ssylka">Forgot password???</a>
  </form>
  <hr>
  <form>
    <button id="but2" type="creature" onclick="reddit.com"><a href="sign-up">Create an account</a></button>
  </form>
</div>

<!--<form [formGroup]="loginForm" (ngSubmit)="login()">-->
<!--  <input type="text" id="user_name" class="form-control" [formControlName]="'username'" name="user_name" required-->
<!--         autofocus>-->
<!--  <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">-->
<!--    <input type="password" id="password" class="form-control" [formControlName]="'password'" name="password" required>-->
<!--                                <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">-->
<!--                                  <div class="login-failed" [ngStyle]="{'background-color': 'green'}" *ngIf="this.registerSuccessMessage.length > 0">-->
<!--                            <p class="register-success-text">{{registerSuccessMessage}}</p>   -->
