<div class="eee">
  <div class="xd">
    <p>   Expession is a social news aggregation, web content rating, and discussion website, recently including livestream content through Expession Public Access Network.</p>
  </div>
  <div class="xax">
    <p>The idea and initial development of such application originated with then college roommates Steve Huffman and Alexis Ohanian in 2005.</p>
  </div>
  <div class="loool">
    <p>This site is built on Angular Front-End Side Application. For the making it great for production we are gonna to connect it with Django Framework.</p>
  </div>

</div>
