<header>
  <div class="lol">
    <div>
      <div id="circle"></div>
      <span class="expession-text">
        <a routerLink="/home" class="exp">Expession</a>
    </span>
    </div>
    <a routerLink="/sign-up" class="sign-up">Sign up</a>
    <a routerLink="/login" class="login">Login</a>

    <ul class="xax">
      <li>
        <a routerLink="/home" class="exp">Home</a>
      </li>
      <li>
        <a routerLink="/about" class="exp">About</a>
      </li>
      <li>
        <a routerLink="/posts" class="exp">Posts</a>
      </li>
      <li>
        <a routerLink="/interesting" class="exp">Interesting</a>
      </li>
    </ul>
  </div>
</header>


